<style>

</style>
<section class="tiles">
    {% assign sorted = site.courses | sort: 'date' | reverse %}

    {% for course in sorted %}
    <article onclick="document.location ='{{course.url}}'">

        <div class="article-info">

            <h3>{{course.course-number}}: {{course.title}}</h3>

            <p style="line-height: 1.2em;"><i>{{course.short-description}}</i></p>

            <span class="padbox"></span>

            <div class="term-list">
                <div class="institution-chip" id={{course.inst_short}}> {{course.inst_short}} </div>
            </div>

        </div>

    </article>
    {% endfor %}
</section>
<br />