<section class="tiles">
  {% assign sorted = site.pubs | sort: 'date' | reverse %}

  {% for pub in sorted%}
      <article onclick="document.location ='{{pub.url}}'">
            <h3>{{pub.title}}</h3>
            
            {{pub.authors | truncatewords: 20}} <br />

            <div><i>{{pub.outlet}}</i> • {{ pub.date | date: '%B, %Y' }}<br /><br /></div>

            <span class="padbox"></span>

            {% if pub.pub_link %}
            <div>
            <i class="fas fa-link"></i>
            <a href="{{ pub.pub_link }}">Publisher Link</a>
            </div>
            {% endif %} 
            
            {% if pub.oa_link %}
            <div>
            <i class="fas fa-lock-open"></i> <a href="{{ pub.oa_link }}">Open Access Link</a>
            </div>
            {% endif %} 

            {% if pub.osf_url %}
            <div>
            <img
                src="https://osf.io/static/img/institutions/shields/cos-shield.png"
                style="width: 17px; height: 17px"
            />
            <a href="{{ pub.osf_url }}">OSF</a>
            </div>
            {% endif %}
      </article>
  {% endfor %}
</section>
<br/>
